*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: bisque;
}

#hangmanImage {
    margin-top: 2rem; /* Lägg till önskat avstånd från toppen */
    text-align: center; /* Centrera bilden horisontellt */
}

#hangmanImage img {
    width: 200px; /* Justera bredden efter behov */
    height: auto; /* Säkerställ att höjden justeras proportionellt */
}


h1 {
    font-size: 2.5rem;
    letter-spacing: 1.5ch;
}

p { 
    font-size: 1rem;
}

.allContent {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 15rem;
}

.wrapper {
    margin-top: 6rem;
    display: flex;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 6rem;
    padding: 4rem;
}


.left {
    margin-right: 12rem;
}

h2 {
    font-size: 2rem;
    letter-spacing: 1.5ch;
    margin-top: 3rem;
}

#newGame {
    background-color: rgb(122, 17, 47);
    color: white;
    width: 10rem;
    height: 3rem;
    letter-spacing: 0.5ch;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    margin-bottom: 4rem;
}
#newGame:hover {
    background-color: rgb(201, 62, 102);
}

#wordContainer {
    margin-bottom: 4rem;
}

#wrongGuessedLetters {
    margin-bottom: 4rem;
}

#prompt {
    width: 3rem;
}

#mainHangmanImage,
#bara_stolpen,
#snara_huvud,
#snara_huvud_arm,
#snara_huvud_arm_kropp,
#finito {
    position: absolute; /* Använd absolut positionering för att placera bilderna relativt till .left */
    top: 20%; /* Justera topposition efter behov */
    left: 20% /* Justera vänsterposition efter behov */
}